* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /*outline: 2px solid blue;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(218, 205, 205);
}

.main-container {
    background-color: #dc2626;
    border-radius: 15px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 15px;
}

.knobs {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.knob {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

h1 {
    color: goldenrod;
    text-align: center;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    background: #501111;
    padding: 10px 0px;
    border-radius: 5px;
}

.interaction {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    background: white;
    border-radius: 2px;
}

.square {
    border: 1px solid black;
}

.square:hover {
    background-color: lightgray;
}

#newGrid {
    background: #611919;
    border: 2px solid black;
    border-radius: 3px;
    color: goldenrod;
    width: 70px;
    height: 30px;
    margin-top: 20px;
}

#resetGrid {
    margin: 5px;
    margin-left: 80px;
    background: #611919;
    border: 2px solid black;
    border-radius: 3px;
    color: goldenrod;
    width: 70px;
    height: 30px;
    margin-top: 25px;
}

#gridSizeInput {
    background: white;
    border: 2px solid;
    border-radius: 3px;
    width: 70px;
    height: 30px;
    margin-top: 20px;
}

footer {
    text-align: center;
    color: goldenrod;
    font-size: 14px;
}

.footer-container {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px auto; 
    padding: 10px; 
    background-color: rgb(88, 58, 58);
    border-radius: 8px;
    border: 2px solid rgb(34, 4, 4);
}

footer a {
    color: goldenrod;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}