* {
    box-sizing: border-box;
    /*outline: auto red;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 900px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid;
}

.square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid black;
}

.square:hover {
    background-color: lightgray;
}